<div class="everi">
    <header class="header" wmAnimate="landing" aos speed="normal">
        <a href="" class="logo">
            <span class="grey-color"> &lt;</span>
            <span class="logo-name">{{greeting.username}}</span>
            <span class="grey-color">/&gt;</span>
        </a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn">
      <span class="navicon"></span>
    </label>
        <ul class="menu">
            <li>

                <a href="#skills">
                    <i class="bi bi-person"></i>Sobre</a>
            </li>
            <li>
                <a href="#skills">
                    <i class="bi bi-book"></i> Skills
                </a>
            </li>
            <li>
                <a href="#education">
                    <i class="bi bi-mortarboard"></i> Formação
                </a>
            </li>
            <li>
                <a href="#projects"><i class="bi bi-person-workspace"></i>
                    Projetos</a>
            </li>
            <li>
                <a href="#experience">
                    <i class="bi bi-laptop"></i> Experiencia
                </a>
            </li>
            <li>
                <a href="#contact">
                    <i class="bi bi-telephone"></i> Fale Comigo</a>
            </li>
        </ul>

    </header>
</div>