<div class="greet-main" id="greeting">
    <div class="greeting-main" wmAnimate="fadeInUp" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600" speed="normal">
        <div class="greeting-text-div">
            <div>
                <h1 class="greeting-text">
                    {{greeting.title}}
                    <span class="wave-emoji">👋</span>
                </h1>
                <p class="greeting-text-p subTitle">{{greeting.subTitle}}</p>
                <app-social-media></app-social-media>
                <div class="button-greeting-div">
                    <div>
                        <a class="main-button" href="#contact">Fale Comigo</a>
                    </div>
                    <div>
                        <a class="main-button" href={{greeting.resumeLink}}>Veja meu currículo</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="greeting-image-div">
            <img class="rounded mx-auto d-block" src="../../assets/images/ana-profile.jpeg" alt="Ana profile">
        </div>
    </div>
</div>