 <div class="user-details">
  <h1> My Expertise </h1>
  <p> Currently a Mobile / Front-end developer, working with the implementation of new functionality and maintenance of Android and Vue.js applications, with experience in Ionic, Flutter, Java, Scrum, MySql, API Rest, JavaScript, AngularJS, ElectronJS and NodeJs technologies. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-vuejs-plain"></i>

      <p>Currently focused on flutter projects, but with experience with Flutter, Vuejs, Angular, GraphQl, VueJs and Node.js</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-bitbucket-plain"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Experience with git, Unix systems, VScode, among others</p>
    </div>
</div>
