
<div class="container-fluid ">
	<div class="row">
		<!--The content below is only a placeholder and can be replaced.-->
		<div class="col-md-12 py-5 bg-dark px-md-5 shadow">
			<div class="container">
				<div class="row">

					<!-- Content -->
					<div class="col-md-12 py-5 px-md-5 card title-experience" [@fadeIn]>
						<div class="row">
							<div class="col-md-5">
								<div class="pr-4">
								    <div class="media">
								      	<img class="mr-3" src="/assets/images/profile-ana.jpg" alt="SLSU logo" style="width:90px;">
								      	<div class="media-body pt-md-4" style="font-size: 14px !important;">
								      		<br>
								        	<h6 class="text-muted">Ana Nicole Massaneiro</h6>
								    		<p class="text-muted">Front End Developer</p>
								      	</div>
								    </div>
								    <hr>
								    <dl>
								    	<dd>Curitiba - PR</dd>
								    	<dd>41 9 9902 8158</dd><hr>
								    	<dd><strong>Skype:</strong>
								    		<a href="#" class="pull-right">ananicolemassaneiro</a>
								    	</dd>
								    	<dd><strong>Github:</strong>
								    		<a href="https://github.com/AnaNicoleMassaneiro" class="pull-right">github.com/ananicolemassaneiro</a>
								    	</dd>
										<dd><strong>Contact Mail:</strong>
											<a href="#" class="pull-right"> ana.nicole02@gmail.com</a>
										</dd>
										<hr>

								    </dl>
								</div>
							</div>

							<div class="col-md-7 right px-4">
								<div class="text-gray-dark text-right d-none d-md-block d-lg-block">
									<a routerLink="/skills" class="more">SKILLS<span class="pl-3 fa fa-arrow-right"></span></a>
								</div>
								<div class="d-none d-sm-block d-block d-md-none d-lg-none"><br><br></div>
								<div>
									<h6 class="mb-2 mt-md-4 pt-md-5 text-dark">Graduação</h6><hr>
									<img class="d-none d-lg-none d-md-none d-block d-sm-block" src="/assets/images/ufpr_logo.jpg" alt="SLSU logo" style="width:60%;">
								    <div class="media">
								      	<img class="mr-3 d-none d-sm-none d-md-block d-lg-block" src="/assets/images/ufpr_logo.jpg" alt="SLSU logo" style="width:90px;">
								      	<div class="media-body pt-3" style="font-size: 13px !important;">

Estudante de Análise e desenvolvimento de sistema na <a href="https://www.ufpr.br/portalufpr/" target="_blank">Universidade Federal do Paraná </a>
								      	</div>
								    </div>

								    <br><br><br>

								    <h6>EXPERIÊNCIAS</h6><hr>
								    <dl>
								    	<dd class="dd-2 text-dark">
								    		<strong>LAR.app</strong><i> | outubro de 2019 até abril de 2020</i>
								    	</dd>
								    	<dd class="dd-2 text-muted">
								    	<strong>Resumo das atividades:</strong>
                      Desenvolvimento de aplicações Mobile desenvolvidas em Flutter, consumindo dados de uma API GraphQL,
                      desenvolvimento frontend utilizando HTML5, JavaScript e Vue.js, consumindo dados de uma API GraphQL,
                      utilização de tecnologias de versionamento de código (Bitbucket),
                      utilização de tecnologia de monitoramento de tarefas (Jira),
                      desenvolvimento de testes unitários para as aplicações web e mobile,
                      code review.

								    	</dd>

								    	<hr>

								    	<dd class="dd-2 text-dark">
								    		<strong class="pr-1">SAE Digital</strong><i> | Julho de 2017 até Agosto de 2019</i>
								    	</dd>
								    	<dd class="dd-2 text-muted">
								    	<strong>Resumo das atividades: </strong> Desenvolvimento de aplicações Mobile híbridas utilizando Flutter,
                      desenvolvimento de aplicações Mobile nativas utilizando Java e Kotlin,
                      consumo de APIs Rest,
                      desenvolvimento de frontend utilizando Electron, HTML5, JavaScript e Angular,
                      desenvolvimento e manutenção de sistemas web com NodeJs,
                      desenvolvimento e manutenção de sistema Desktop utilizando JavaScript com Electron,
                      utilização de tecnologias de versionamento de código (Bitbucket),
                      utilização de tecnologia de monitoramento de tarefas (Jira)

								    	</dd>

								    	<hr>


								    </dl>
								</div>
							</div>


							<div class="text-center col-md-12 py-3"><br><hr><br><br>
								<div class="text-center d-none d-md-block d-lg-block">
									<a routerLink="/contact-me" class="btn btn-danger px-5 mr-3" style="border-radius: 0px;">Fale comigo</a>
									<a routerLink="/skills" class="btn btn-dark px-5" style="border-radius: 0px;">Tecnologias e Skills</a>
								</div>

								<div class="text-center d-none d-sm-block d-block d-md-none d-lg-none">
									<a routerLink="/contact-me" class="btn btn-block btn-danger px-5 mr-3" style="border-radius: 0px;">Fale comigo</a>
									<a routerLink="/skills" class="btn btn-block btn-dark px-5" style="border-radius: 0px;">Tecnologias e Skills</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


	</div>
</div>



