<div class="px-md-5  my-5" >
	<h3 class="text-center" [@fadeInFrom]="state">About me</h3>

	<p class="py-md-4 text-justify" [@fadeInFrom]="state"><span class="pl-5">Eu sou Ana Nicole Massaneiro</span>,estudante de Análise e desenvolvimento de sistemas e atualmente trabalhando como desenvolvedor front end desde 2017 usando várias tecnologias, como NodeJS, MySql, Express, implementação de API REST, Angular, Ionic, Flutter, etre outras tecnoligias.
. </p>
	<br><br>

	<div class="d-none d-md-block d-lg-block text-center">
		<a class="btn btn-sm btn-danger px-5 py-3 mr-3" routerLink="/experiences" style="border-radius: 0px;">Resumo</a>
		<a class="btn btn-sm btn-primary px-5 py-3" href="#home-portfolio" style="border-radius: 0px;">Portfolio</a>
	</div>

	<div class="d-none d-sm-block d-block d-md-none d-lg-none">
		<a class="btn btn-sm btn-block btn-danger px-4 py-3" routerLink="/experiences" style="border-radius: 0px;">Resumo</a><br>
		<a class="btn btn-sm btn-block btn-primary px-4 py-3" href="#home-portfolio" style="border-radius: 0px;">Portfolio</a>
	</div>
</div>
